@font-face {
    font-family: MayekaThinDemo;
    src: url(../data/fonts/MayekaThinDemo.otf);
}

body {
    margin: auto;
    width: 70%;
    font-family: MayekaThinDemo, "sans-serif";
    background-color: #E8FFFF;
}

.cabinet {
    text-align: center;
}

/* PARTIE INFIRMIERS */

.infirmier {
    margin-bottom : 20px;
    text-align: left;
    background-color: lightgray;
    padding: 10px;
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.identite-infirmier, .photo-infirmier, .patients-infirmier, .id-patient, .photo-infirmiere {
    display: inline-block;
    vertical-align: middle;
}

.photo-infirmier {
    margin-left: 40px;
}

.patients-infirmier span {
    padding: 5px;
    margin-bottom: 5px;
}

.liste-patients {
    list-style-type: none;
}

.table-infirmier {
    margin-left: 50px;
}

.table-infirmier th {
    text-decoration: underline;
}

/* PARTIE PATIENTS NON AFFECTES */

.patient-non-affecte {
    margin-bottom : 20px;
    text-align: left;
    background-color: lightgray;
    padding: 10px;
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.patient-non-affecte span {
    margin-right: 20px;
}

.drag-hover-infirmier {
    opacity: 0.5;
}

.id-patient {
    max-width: 70%;
}

.options-patient {
    text-align: left;
}

.patients li {
    margin-bottom: 30px;
}

.patients ul {
    list-style-type: none;
}

.photo-infirmiere {
    max-width: 200px;
    max-height: 200px;
}

.photo {
    position: absolute;
    right: 20%;
    max-width: 200px;
    max-height: 200px;
}

.photo2 img {
    position: absolute;
    right: 20%;
    max-width: 120px;
    max-height: 120px;
}

.photo img {
    max-width: 200px;
    max-height: 200px;
}

.nom {
}

.diplomes {
    margin-top: 30px;

}

hr {
    color: black;
    width: 50%;
    margin-left: 0;
}

h4 {
    text-decoration: underline;
    color: #696969;
}

.diplomes li, .experiences li, .formations li, .langues li, .competences li, .autres li {
    margin-bottom: 10px;
}

.experiences li ul, .formations li ul, .competences li ul, .autres li ul{
    margin-top : 10px;
}

.CV .title {
    color: #5F9EA0;
}

.table-langues {
    width: 600px;
    margin-left: 25px;
    border : 1px solid black;
}

.head-line {
    width: 200px;
}

.content-line td, .head-line th {
    text-align: center;
    border: 1px solid black;
}

.cv-autres {
  margin-top: 20px;
}

.cv-autres a {
  color : black;
  margin-top: 10px;
  font-style: italic;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}

.cv-autres a:hover {
  opacity: 0.5;
  transition : 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
}

