/TP01/nbproject/private/
/PAI/nbproject/private/
/Tux/nbproject/private/
/TP3-METEO/nbproject/private/
/TP3-ECHEC/nbproject/private/
/TP4/nbproject/private/
/RO_Project/build/
/RO_Project/dist/
/TP5/nbproject/private/
/*.zip

/TP7/nbproject/private/
/TP7/build/
/TuxGame/nbproject/private/
/TuxGame/build/
/TuxGame/dist/
/TP8/nbproject/private/
/TP8/build/